pkgbase = nickvision-tagger
	pkgdesc = An easy-to-use music tag (metadata) editor
	pkgver = 2022.6.1
	pkgrel = 1
	url = https://github.com/nlogozzo/NickvisionTagger
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = cmake
	depends = gtk4
	depends = libadwaita
	depends = jsoncpp
	depends = libcurlpp
	depends = taglib
	depends = libmusicbrainz5
	source = git+https://github.com/nlogozzo/NickvisionTagger.git#tag=2022.6.1
	source = git+https://github.com/Makman2/GCR_CMake.git
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = nickvision-tagger
