[Desktop Entry]
Version=1.0
Name=Tagger
Comment=An easy-to-use music tag (metadata) editor 
Exec=org.nickvision.tagger
Icon=org.nickvision.tagger
Terminal=false
Type=Application
X-GNOME-UsesNotifications=true