.art-bin {
  opacity: 0;
  border-radius: 12px;
}

.art-bin:hover {
  opacity: 1;
}

.album-art-img {
  border-radius: 12px;
}

.art-box {
  background-color: @view_bg_color;
  border-width: 1px;
  border-style: solid;
  border-color: @borders;
  border-radius: 8px;
}

.music-list > row:not(.start-row):not(.end-row):not(.single-row) {
  border-radius: 0px;
}

.start-row {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.end-row {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.single-row {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.list-icon {
  border-radius: 6px;
}

@define-color tagger_calendar_today_bg_color @headerbar_bg_color;
@define-color tagger_calendar_today_fg_color @view_fg_color;

#calendarPublishingDate button {
  border-radius: 12px;
}

#calendarPublishingDate .day-number {
  border-radius: 12px;
}

#calendarPublishingDate .today {
  background-color: @tagger_calendar_today_bg_color;
  color: @tagger_calendar_today_fg_color;
  box-shadow: none;
}

.calendar-button label {
  margin-left: -8px;
  margin-right: -8px;
}

.calendar-button popover label {
  margin-left: 0px;
  margin-right: 0px;
}

.calendar-button calendar {
  font-weight: normal;
  background-color: @popover_bg_color;
  border: none;
}
