.art-bin {
  opacity: 0;
  border-radius: 12px;
}

.art-bin:hover {
  opacity: 1;
}

.album-art-img {
  border-radius: 12px;
}

.art-box {
  background-color: @view_bg_color;
  border-width: 1px;
  border-style: solid;
  border-color: @borders;
  border-radius: 8px;
}

.music-list > row:not(.start-row):not(.end-row):not(.single-row) {
  border-radius: 0px;
}

.start-row {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.end-row {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.single-row {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}